# SPDX-FileCopyrightText: 2023 Gottlieb+Freitag <info@gottliebtfreitag.de>
# SPDX-License-Identifier: CC0-1.0
name: "CI"

on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  TZ: Europe/Berlin

concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-22.04, compiler: spdx_license_lint}
          - {os: ubuntu-22.04, compiler: gcc13-cpp20-release}
          - {os: ubuntu-22.04, compiler: gcc14-cpp20-release}
          - {os: ubuntu-22.04, compiler: gcc15-setup_only-lcov
                                         gcc15-nosetup-cpp20-release
                                         gcc15-nosetup-cpp23-release
                                         gcc15-nosetup-cpp20-lcov
            }
          - {os: ubuntu-22.04, compiler: gcc15-setup_only
                                         gcc15-nosetup-cpp20-debug-sanitize_address
                                         gcc15-nosetup-cpp20-debug-sanitize_undefined
                                         gcc15-nosetup-cpp20-debug-sanitize_thread
            }
          - {os: ubuntu-22.04, compiler: clang20-cpp20-release}
          - {os: ubuntu-22.04, compiler: intel-cpp20-release}
          - {os: ubuntu-22.04, compiler: emscripten-cpp20-release, cmake_flags: "-DCMAKE_EXE_LINKER_FLAGS='-fexceptions -sNO_DISABLE_EXCEPTION_CATCHING'", cmake_cxx_flags: "-fexceptions"}
          - {os: macos-13,     compiler: gcc15-cpp20-release}
          - {os: macos-13,     compiler: clang20-cpp20-release}
          - {os: macos-14,     compiler: gcc15-cpp20-release}
          - {os: macos-14,     compiler: clang20-cpp20-release}
          - {os: windows-2022, compiler: msvc-cpp20-release
                                         msvc-cpp20-debug
            }
    steps:
      - name: Standard IV-project testing
        uses: iv-project/IVaction@v11.1
        with:
          compiler: ${{ matrix.compiler }}
          threads: 2
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          cmake_flags: ${{ matrix.cmake_flags }}
          cmake_c_flags: ${{ matrix.cmake_c_flags }}
          cmake_cxx_flags: ${{ matrix.cmake_cxx_flags }}
  final:
    runs-on: ubuntu-22.04
    name: final-pass
    needs: build
    if: always()
    steps:
      - name: Succeeded
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: CI failed
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
